<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1.0</key>
	<dict>
		<key>AD_ON_LOAD1</key>
		<integer>1</integer>
		<key>AD_ON_LOAD2</key>
		<integer>3</integer>
		<key>AD_ON_PAUSE1</key>
		<integer>2</integer>
		<key>AD_ON_PAUSE2</key>
		<integer>1</integer>
		<key>AD_ON_RETURN1</key>
		<integer>1</integer>
		<key>AD_ON_RETURN2</key>
		<integer>3</integer>
		<key>AD_ON_GAMEOVER</key>
		<integer>3</integer>
		<key>AD_IN_REVIEW</key>
		<integer>1</integer>
	</dict>
</dict>
</plist>
